@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";
@import "students";
@import "lessons";
@import "assignments";
@import "assignmentrecords";
@import "students";
@import "progressreports";
@import "navbar";
@import "animation";



$white: #ecf0f1;
$blue: #002C8B;
$red: #c0392b;
$green: #16a085;
$orange: #F0AD4E;


body{
  // padding-right: 15px;
  background-color: $white;
}
.container.body_all{
  margin-top: 38px;
  .container_2{
    margin-left: 30px;
  }

.row{
  margin: 0px;
}

}
.signed_in_as_text{

  position: fixed;
  top: 64px;
  left: 5px;
}



.well{

  background-color: lighten($blue, 50%);
  border-color: ighten($blue, 50%);
  border: 0px;
}

.menu_top{
  padding-left: 0px;
  padding-right: 0px;

}

.menusection {
   font-family: "Trirong", serif;
   background-color: $blue;
   position: fixed;
   z-index: +1;
   width: 100%;

   .logo{
     text-align: center;
     padding-left: 0px;
     padding-right: 0px;
     background-color: $white;

     h1{
       margin-top: 0px;
       margin-bottom: 0px;
       padding-top: 10px;
       padding-bottom: 10px;
       margin-left: 7.5px;
       color: $blue;
     }
   }

   .menuitem {
     width: 33%;
     text-align: center;
     padding-left: 0px;
     padding-right: 0px;
     h1, a {
       color: $white;
       margin-top: 0;
       margin-bottom: 0;
       padding-top: 10px;
       padding-bottom: 10px;
       color: $white;
       &:hover {
         text-decoration: none;
         color: lighten($blue, 10%);
         background-color: $white;

       }
     }
   }
   .menuitem_teachers {
     width: 25%;
     text-align: center;
     padding-left: 0px;
     padding-right: 0px;
     h1, a {
       color: $white;
       margin-top: 0;
       margin-bottom: 0;
       padding-top: 10px;
       padding-bottom: 10px;
       color: $white;
       &:hover {
         text-decoration: none;
         color: lighten($blue, 10%);
         background-color: $white;

       }
     }
   }
}

.menusection_placeholder{
  height: 90px;
  margin: 0px;

}

.logout_button{

  position: fixed;
  right: 15px;
  top: 65px;

}

// .test2{
//
//   width: 100%;
// }

.row.test {
  height: 50px;
  margin-left: 0px;
  margin-right: 0px;
  // width: 100%;
  background-color: $blue;
  .creditsbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: $blue;
    text-align: center;
    color: $white;
    padding-top: 5px;
    padding-bottom: 5px;
    h6 {
      margin: 0px;
    }
  }
}

.row.alert{

  margin-left: 0px;
  margin-right: 0px;
  .alert.alert-info.alert-dismissible{
    padding-top: 70px;
    z-index: +5;

  }
}

.btn.btn-primary{

  background-color: $blue;
}
