@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";
@import "students";
@import "lessons";
@import "assignments";
@import "assignmentrecords";
@import "students";
@import "progressreports";


$white: #ffffff;
$blue: #2980b9;
$red: #c0392b;
$green: #16a085;
$orange: #F0AD4E;


.menusection {
   font-family: "Trirong", serif;
   background-color: $blue;
   position: fixed;
   z-index: +1;
   width: 100%;

   .menuitem {
     width: 33%;
     text-align: center;
     h1, a {
       color: $white;
       margin-top: 0;
       margin-bottom: 0;
       padding-top: 10px;
       padding-bottom: 10px;
       color: #ffffff;
       &:hover {
         text-decoration: none;
         color: lighten($blue, 50%);
       }
     }
   }
   .menuitem_teachers {
     width: 25%;
     text-align: center;
     h1, a {
       color: $white;
       margin-top: 0;
       margin-bottom: 0;
       padding-top: 10px;
       padding-bottom: 10px;
       color: #ffffff;
       &:hover {
         text-decoration: none;
         color: lighten($blue, 50%);
       }
     }
   }
}

.menusection_placeholder{
  height: 70px;

}

.logout_button{

  position: fixed;
  right: 15px;
  top: 65px;

}

// .test2{
//
//   width: 100%;
// }

.test {
  height: 100px;
  // width: 1300px;
  // width: 100%;
  background-color: $blue;
  .creditsbar {
    font-family: "Trirong", serif;
    background-color: $blue;
    text-align: center;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    h6 {
      margin: 0px;
    }
  }
}
