///Dashboard

.new_assignment_btn{
  position: fixed;
  left: 40px;
  top: 155px;

}

.assignment_content{
  // position: relative;
  //      width: 100%;
  .timestamp {
    // font-size: 33px;
    position: absolute;
    right: 0px;
    width: 200px;
    // background-color: #b0e0e6;
  }
}

// New


.f_assignment_number{

  margin-bottom: 10px;
}

.f_release_radio_btns{

  margin-top: 15px;

}

.f_create_assignment_buttons{
  margin-top: 20px;
}

.assignment_title{

  text-align: center;

}

////show

.delete_assignment_btn{
  position: fixed;
  left: 40px;
  top: 120px;
}

.update_assignment_btn{
  position: fixed;
  left: 40px;
  top: 160px;
}

.assignment_submit_title{

  color: $red;

}

.notice_box{
  background-color: lighten($red, 50%);
  .submitted_assignment_notice{
    color: lighten($red, 10%);
    text-align: center;

  }
}


.f_assignmentrecord_link,
.f_assignmentrecord_comments,
.f_assignmentrecord_buttons {

  margin-top: 10px;
  border-color: black;

}

.f_assignmentrecord_buttons{

  // margin-bottom: 50px;
}

.back_to_assigments_btn {
  a {
    float: right;
    margin-top: 20px;
  }


}
