$orange: #F0AD4E;


//Grade

.menu_underline_teacher_arecords{
  position: fixed;
  top: 62px;
  z-index: +1;
  background-color: $orange;
  width: 321.25px;
  height: 5px;
  margin-left: 627.5px;
  padding: 0px;

}

.arecord_content{
  // position: relative;
  //      width: 100%;
  .timestamp {
    // font-size: 33px;
    position: absolute;
    right: 0px;
    width: 200px;
    // background-color: #b0e0e6;
  }
}

.pr_btn{

  margin-top: 20px;
  float: right;
  margin-right: -40px;
  position: fixed;
  right: 68px;
  top:180px;

}
.by_student_btn{
  margin-right: -40px;
  float: right;
  position: fixed;
  right: 68px;
  top:160px;

}

//Grade_arecord

.arecord_title{

  text-align: center;
  margin-bottom: 40px;
}

.grading_title{

  color: $red;

}
.f_arecord_file,
.f_arecord_feedback,
.f_arecord_buttons{
  margin-top: 10px;
}



.download_link{
  a{
    line-height: 40px;
    }
}

.grade_dashboard_margin{

  margin-top: 550px;

}
