
//Grade

.arecord_content{
  // position: relative;
  //      width: 100%;
  .timestamp {
    // font-size: 33px;
    position: absolute;
    right: 0px;
    width: 200px;
    // background-color: #b0e0e6;
  }
}

//Grade_arecord

.arecord_title{

  text-align: center;
  margin-bottom: 40px;
}
