$red: #c0392b;
$orange: #F0AD4E;


///Student Dashboard

.dashboard_title{
  text-align: center;
}

.new_lesson_btn{
  position: fixed;
  left: 40px;
  top: 155px;

}

.lesson_content{

  .timestamp {
    // font-size: 33px;
    position: absolute;
    right: 0px;
    width: 200px;
    // background-color: #b0e0e6;
  }
}

.assignment_due_title{
  color: $red;
}

.margin{

  margin-bottom: 150px;
}
//Student Review

.no_completed_lessons_notice {

  text-align: center;
  margin-top: 50px;
  margin-bottom: 200px;
  background-color: lighten($orange, 30%)

}

.review_lesson_title{
  margin-top: 0px;

}


//Student Feedback

.no_graded_arecords_notice {

  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: lighten($orange, 30%)

}

.feedback_arecord_title{
  margin-top: 0px;

}

.arecord_bottom_links{
  display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: center;

}

.feedback_subtitle{

  color: $blue;
}

// New


.f_lesson_number{

  margin-bottom: 10px;
}

.f_release_radio_btns{

  margin-top: 15px;

}

.f_create_lesson_buttons{

  margin-top: 20px;
  // margin-bottom: 20px;

}

.lesson_title{

  text-align: center;

}

////show

.delete_lesson_btn{
  position: fixed;
  left: 40px;
  top: 120px;
}

.update_lesson_btn{
  position: fixed;
  left: 40px;
  top: 160px;
}

.next_lesson_btn{
  a {
    float: right;
    margin-top: 20px;
  }
}

.next_lesson_complete_btn{

  margin-top:20px;
}

.next_lesson_complete_btns_review{

  display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;

    margin-top: 20px;
}
