$white: #ffffff;
$blue: #2980b9;
$red: #c0392b;
$green: #16a085;
$orange: #F0AD4E;


.navbar.navbar-default{
  width: 100%;
  background-color: $blue;
  position: fixed;
  z-index: +1;

  .teacher_tools_box {
    position: absolute;
    top: 70px;
    left:35px;
    padding: 0px;

  .teacher_tools{

    width: 200px;
    // position: fixed;
    // top: 112px;
    // left: 30px;
    border-color: $blue;

    .tt_title{
      background-color: $blue;
      color: #ffffff;
    }

    .list-group-item.active{
      background-color: $blue;


    }
   .list-group-item.tt_item {
      &:hover{
        background-color: lighten($blue, 50%);
      }
    }
  }
 }
  .navbar-brand{

  color: $white;

  }

  .navbar-toggle.collapsed{

    border-color: lighten($blue, 50%);

    .icon-bar{
      background-color: lighten($blue, 50%)
    }

  }


  .nav.navbar-nav{
    margin-left: 157px;
         .active{
           a{
            background-color: lighten($blue, 50%);
            border-color: $blue;
            color: $blue;
          }

        }

  }

  .nav.navbar-nav.navbar-right{
    .dropdown.open{
      >a{
       background-color: lighten($blue, 50%);
       border-color: $blue;
       color: $blue;
     }

   }


  }


  ul a{
    color: $white;
  }


  .dropdown-toggle{

    &:active{

    }

  }
  .dropdown-menu{
    background-color: lighten($blue, 50%);
    padding-top: 0px;
    padding-bottom: 0px;

    li a{
      color: black;


      &:hover{
        background-color: lighten($blue, 40%);
      }

    }

  }


}
