$orange: #F0AD4E;$red: #c0392b;


//new2

.student_stats_title{

  color: $red;

}

.pr_input_title{
  color: $red;

}

.pr_score{



}

.pr_feedback{

  margin-top: 20px;
  margin-bottom: 20px;
}

.pr_buttons{

  margin-bottom: 150px;

}
