$orange: #F0AD4E;$red: #c0392b;$blue: #002C8B;


//new

.which_student{

  margin-bottom: 15px;
  color: $blue;
}

.student_collection_select{

  margin-bottom: 20px;
}

.f_next{

  margin-bottom: 250px;
}



//new2

.student_stats_title{

  color: $blue;

}

.pr_input_title{
  color: $blue;

}

.pr_score{



}

.pr_feedback{

  margin-top: 20px;
  margin-bottom: 20px;
}

.pr_buttons{

  // margin-bottom: 150px;

}

.caveat_notice{

  margin-top: 10px;

  .important {
    color: $red;
  }

}

//showcreated.pdf, showpdf.pdf

// .document{
//   .catalyst_header_pdf{
//
//     background-color: $blue;
//     width: 100%;
//
//     h1{
//       text-align: center;
//     }
//
//   }
// }
