$green: #16a085;
$red: #c0392b;
$blue: #2980b9;
$grey: #7f8c8d;
$orange: #F0AD4E;



//index

.menu_underline_teacher_students{
  position: fixed;
  top: 62px;
  z-index: +1;
  background-color: $orange;
  width: 321.25px;
  height: 5px;
  margin-left: 948.75px;
  padding: 0px;

}

.student_content{

  .name {

    margin-top: 0px;
    color: $blue;
  }
  .timestamp {
    // font-size: 33px;
    position: absolute;
    right: 0px;
    width: 200px;
    // background-color: #b0e0e6;
  }
}


//show

.student_profile_title_section{

  // width: 500px;
  padding: 0px;
  align-items: center;
  text-align: center;

  .student_picture{
    display: block;

    // align-content: center;
    // align-items: center;
    img{
      display:block;
      margin:auto;
     }
  }
  h1{
    color: $blue;
    margin-bottom: 20px;
  }

}
.section_header{
  color: $blue;
}

.performance_summary{

  text-align: center;
}

.pr_btn_student{

  float: left;
  margin-left: -40px;
  position: fixed;
  left: 100px;
  top:440px;

}

.view_content{
  margin-top: 10px;
}
.view_content_w_button{
  display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: stretch;
      align-items: center;
  margin-top: 10px;
}

.assignment_submitted {
  color: $green;
}

.assignment_not_submitted{
  color: $red;
  margin-bottom: 0px;
}

.content_title{
  margin-top: 0px;
}

.lesson_complete {
  color: $green;
}

.lesson_not_complete{
  color: $red;
  margin-bottom: 0px;
}

.grade_now{

  margin-top: 10px;
}

.graded_notice a{

  color: $orange;
}
