
$blue: #2980b9;
$orange: #F0AD4E;

.jumbo{
    // height: 100vh; //visual height units
    // border: 1px solid #000000;
    background: image_url("puzzle.jpg");
    background-size: cover; // scale as the .jumbo grows and shrinks
    // object-fit: cover; // use with 190px catalyst_title_space
    background-position: center center; // center the bg instead of putting at top-left
    .welcome_space_between{

      height: 50vh;

    }

    .catalyst_title_space{

      height: 150px;
    }
}

.sign_in_box{

  padding-left: 40px;
  padding-right: 40px;
  .welcome_title {
    margin-left: -15px;
    // margin-top: 330px;
    margin-bottom: 35px;
    font-size: 30px;
    color: $blue;

    small{

        color: lighten($blue, 10%)
    }
  }
  .sign_in_form {
    margin-top: 30px;

    .sign_in_buttons {

        margin-top: 15px;
        float: right;
    }
  }
}

.sign_in_title{
  margin-top: 0px;
  color: $blue;
  h2{
    margin-top: 0px;
  }
  small{
      color: lighten($blue, 20%)
  }
}

.sign_up_form{
  margin-top: 0px;
  .sign_up_buttons{
    margin-top: 15px;
  }
}

.catalyst_title{

  font-family: 'Poiret One', cursive;
  // position: fixed;
  // bottom: 30px;
  // padding-left: 100px;
  color: $blue;
  // margin-top: 530px;
  padding-right: 50px;
  padding-left: 10px;

}
